<nav class="container">
  <img src="../../assets/images/logos/ODlogo.png" alt="logo van Online dialogue">
  <ul>
    <li><a class="tools" (click)="scroll('tools')">Tools</a></li>
    <li><a class="contact" (click)="scroll('contact')">Contact</a></li>
    <li *ngIf="!auth.loggedIn()"><a class="user" mat-raised-button id="logout-button" (click)="openModal(true)">Login</a></li>
    <li *ngIf="!auth.loggedIn()"><a class="registreer" (click)="openModal(false)">Registreer</a></li>
    <li *ngIf="auth.loggedIn()"><a class="user" (click)="auth.logout()">Log uit</a></li>
  </ul>
</nav>