// TODO sass setup moet hier geimporteerd worden en kleuren hieronder verwijderd

@import '../../setup.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  font-size: .9rem;

  img {
    height: 35px;
  }

  ul {
    display: flex;
    align-items: center;

    >li {
      padding-right: 25px;

      &:last-of-type {
        padding-right: 0;
      }

      >a {
        position: relative;
        padding-left: 25px;
        text-transform: uppercase;

        &:before {
          width: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;
        }

        &.tools:before {
          content: url(../../assets/icons/navbar/gear.svg);
        }

        &.contact:before {
          content: url(../../assets/icons/navbar/contact.svg);
        }

        &.user:before {
          content: url(../../assets/icons/navbar/user.svg);
        }

        &.registreer {
          padding: 5px 12px;
          border: 2px solid $groen;
          border-radius: 50px;
          color: $groen;
          font-weight: 500;
          cursor: pointer;
        }
      }

      &.user {
        position: relative;
        padding-left: 25px;
        text-transform: uppercase;
        cursor: pointer;

        &:before {
          width: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;
          content: url(../../assets/icons/navbar/user.svg);
        }
      }
    }

    @include breakpoint('medium') {
      background: #fff;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: 100px 20px 0 30px;
      transition: 0.3s ease-in-out transform;

      li {
        margin-bottom: 40px;

        > a {
          font-size: 1.3rem!important;
          padding-left: 40px;

          &:before {
            width: 25px;
          }
        }

        &:nth-last-type() {
          margin-bottom: 0;
        }
      }

      &.closed {
        transform: translateX(-100%);
      }
      &.open {
        transform: translateX(0);
      }
    }
  }
}

.loader {
  margin: 0 20px;
}

nav ul.hide {
  transform: translateX(200%);
  display: none;
}

#nav-icon4 {
  width: 30px;
  height: 21px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #6AB84A;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0%;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 50%;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 100%;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(45deg);
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-45deg);
}
