@import '../../setup.scss';

h2 {
  font-size: 1.5rem;
}

h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

header {
  background: $background;

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;

    .headerSection {
      &:first-of-type {
        padding-right: 15px;
        width: 60%;
      }

      &:last-of-type {
        padding-left: 15px;
        width: 40%;
      }
    }
    
    .cta {
      margin-bottom: 30px;
    }

    @include breakpoint('medium') {
      flex-direction: column-reverse;
      padding-bottom: 0px;

      .headerSection {
        width: 100%!important;
        padding: 0;

        img {
          margin: 0 auto 30px;
          max-width: 300px;
        }
      }
    }
  }

  img {
    display: block;
    margin-left: auto;
    width: 100%;
  }

  .arrow {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    color: $groen;
    font-weight: 500;
    font-size: .95rem;
    transform: translateY(40px);
    cursor: pointer;

    &:before {
      content: '';
      background: $background;
      width: 70px;
      height: 70px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -6px) rotate(40deg) skewX(-11deg);
      z-index: -1;
    }

    .arrowWrapper {
      width: 25%;
      padding-top: 5px;

      svg {
        overflow: visible;
        .svgArrow {
          fill:none;
          stroke:#D0E7CE;
          stroke-miterlimit:10;
          stroke-width:10px;
        }

        &:last-of-type {
          transform: translateY(-10px);

          .svgArrow {
            stroke: $groen;
          }
        }
      }
    }
  }
}

main {
  padding-top: 0;
}

.outerToolsContainer {
  padding: 15px 25px 0;
  margin-top: 70px;
  margin-bottom: 40px;
  .innerToolsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 20px;

    .toolKaart {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(33.33% - 40px);
      margin-bottom: 40px;
      padding: 20px;
      border: solid 2px #ccc;
      border-radius: 10px;
      transition: .2s ease-in all;
      min-width: 280px;

      &:hover {
        box-shadow: 0px 0px 30px 0px rgba(235,235,235,1);
        &.open {
          border-color: $groen;
        }
        &.closed {
          border-color: $oranje;
        }
      }

      h3 {
        margin: 10px 0;
        font-weight: 500;
        text-align: center;
      }

      p {
        text-align: center;
      }

      a {
        font-weight: 500;
        margin-top: auto;
        padding: 5px 20px;
        border: 2px solid;
        border-radius: 5px;
        transition: .2s ease-in all;
      }

      &.open {
        a {
          color: $groen;

          &:hover {
            color: #FFFFFF;
            background: $groen;
            border-color: $groen;
          }
        }
      }
      &.closed {
        a {
          color: $oranje;

          &:hover {
            color: #FFFFFF;
            background: $oranje;
            border-color: $oranje;
          }
        }
      }
    }
    @include breakpoint('medium') {
      justify-content: space-between;
      .toolKaart { 
        width: calc(50% - 40px);
      }
    }
    @include breakpoint('small') {
      justify-content: center;
    }
  }
}

.ctaContainer {
  display: flex;
  justify-content: center;
  padding: 0px 25px 15px;
}

.articleContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  > * {
    width: calc(50% - 20px);

    @include breakpoint('medium') {
      width: 100%
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  @include breakpoint('medium') {
    flex-direction: column;
    align-items: center;

    .contact {
      margin-right: 0px;
      margin-bottom: 30px;
      text-align: center;

      .contactBody {
        flex-direction: column;
        align-items: center;

        img {
          margin-right: 0px;
        }

        h3 {
          margin-top: 10px;
        }
      }
    }
  }
}

app-contact {
  background: #F6F9F5;
}