<header>
  <div class="headerContainer container">
    <div class="headerSection">
      <h1>Bereken makkelijk en snel de impact van je website</h1>
      <p>Online Dialogue biedt je een aantal eenvoudige tools waarmee je gemakkelijk en snel de impact van je website kan berekeken</p>
  
      <a routerLink="/1" class="cta">
        Ga naar de tool
        <svg class="arrowLeftWrapper" viewBox="0 0 156.15 79.49">
          <polyline class="svgArrow" points="155.44 0.71 78.07 78.07 0.71 0.71"/>
        </svg>
      </a>
  
      <ul class="usps">
        <li>Lorem, ipsum dolor sit consectetur</li>
        <li>Lorem, ipsum dolor sit consectetur</li>
      </ul>
    </div>
    <div class="headerSection">
      <img src="../../assets/images/header_image.png" alt="">
    </div>
  </div>
  <a class="arrow" (click)="scroll('tools')">
    Alle tools
    <div class="arrowWrapper">
      <svg viewBox="0 0 156.15 79.49">
        <polyline class="svgArrow" points="155.44 0.71 78.07 78.07 0.71 0.71"/>
      </svg>
      <svg viewBox="0 0 156.15 79.49">
        <polyline class="svgArrow" points="155.44 0.71 78.07 78.07 0.71 0.71"/>
      </svg>
    </div>
  </a>
</header>
<main>
  <div id="tools" class="outerToolsContainer container">
    <h2>Alle tools</h2>
    <div class="innerToolsContainer">
      <a *ngFor="let tool of tools; index as i; odd as odd;" [ngClass]="[tool.auth  ? 'open toolKaart' : 'closed toolKaart', tool.lang]" routerLink="{{tool.url}}/info">
        <img *ngIf='odd' src="../../assets/icons/dashboard/card-icoon-1.svg" alt="card icon">
        <img *ngIf='!odd' src="../../assets/icons/dashboard/card-icoon-2.svg" alt="card icon">
        <h3>{{tool.name}}</h3>
        <p>{{tool.body[0]}}</p>
        <a *ngIf='tool.auth' stopPropagation [routerLink]="tool.url">open tool</a>
        <a *ngIf='!tool.auth && !auth.loggedIn()' stopPropagation [routerLink]="" (click)="openLogReg('registreer')">sign up</a>
        <a *ngIf='!tool.auth && auth.loggedIn()' stopPropagation [routerLink]="" (click)="openAdd(tool.name)">add</a>
        <span>more info</span>
      </a>
    </div>
  </div>
  
  <div class="container articleContainer">

    <app-contact id="contact"></app-contact>

    <article>
      <h2>Over Online Dialogue tooling</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quas voluptate culpa velit, eum quis sed, provident magnam libero, quibusdam quam deserunt odio molestias? Inventore porro quo voluptates accusantium eaque.</p>
    </article>
  </div>
</main>