<div *ngIf="!delete" id="modal-content-wrapper">

  <h1>Hi, {{user.name}}!</h1>
  <div class="accountBody">
    <p><span>Name: </span>{{user.name}}<button>edit</button></p>
    <p><span>Email: </span>{{user.email}}</p>
    <p><span>company: </span>{{user.company}}<button>edit</button></p>
  </div>
  <div class="btnsContainer">
    <a class="cta2 red" (click)="delete=true">Delete account</a>
  </div>
</div>

<div *ngIf="delete" id="modal-content-wrapper">

  <h1>Delete account</h1>
  <p>Are you sure you want to delete your account?</p>
  <div class="btnsContainer">
    <a class="cta2" (click)="delete=false">No</a>
    <a class="cta2 red" (click)=deleteUser()>Yes</a>
  </div>
</div>