<div *ngIf="tool" class="mainContainer container">
  <div class="breadCrumps">
    <a routerLink='[../../]'>
      <svg class="arrowRightWrapper" viewBox="0 0 156.15 79.49">
        <polyline class="svgArrow" points="155.44 0.71 78.07 78.07 0.71 0.71"/>
      </svg>
      Terug naar homepage
    </a>
  </div>
  <main>
    <header>
      <h1>{{tool.name}}</h1>
      <p>{{tool.header}}</p>
      <ul *ngFor="let usp of tool.usps" class="usps">
        <li>{{usp}}</li>
      </ul>
    </header>

    <section>
      <p *ngFor="let para of tool.body" [innerHTML]="para"></p>
    </section>
    
    <section *ngIf="tool.over">
      <h2>Over</h2>
      <p *ngFor="let para of tool.over" [innerHTML]="para"></p>
    </section>

    <section *ngIf="!auth.loggedIn() && !tool.auth">
      <h2 *ngIf="tool.aanmelden" >Aanmelden</h2>
      <p *ngFor="let para of tool.aanmelden" [innerHTML]="para"></p>

      <section class="ctaContainer">
        <a class="cta2" (click)="openLogReg(true)">Inloggen</a>
        <a class="cta" (click)="openLogReg(false)">Aanmelden</a>
      </section>
    </section>

    <section *ngIf="auth.loggedIn() || tool.auth" class="ctaContainer">
      <a *ngIf="!tool.auth" class="cta" (click)="openAdd(tool.name)">Toevoegen</a>
      <a *ngIf="tool.auth" [routerLink]="['../']" class="cta">
        Ga naar de tool
        <svg class="arrowLeftWrapper" viewBox="0 0 156.15 79.49">
          <polyline class="svgArrow" points="155.44 0.71 78.07 78.07 0.71 0.71"/>
        </svg>
      </a>
    </section>
  </main>
  <aside>
    <section class="moreTools borderRadiusShadow">
      <h2>Alle tools</h2>

      <ul>
        <li *ngFor="let tool of allTools">
          <a class="{{tool.active ? 'allToolsActive' : ''}}" routerLink='../../{{tool.url}}/info'>
            {{tool.name}}
            <svg class="arrowLeftWrapper" viewBox="0 0 156.15 79.49">
              <polyline class="svgArrow" points="155.44 0.71 78.07 78.07 0.71 0.71"/>
            </svg>
          </a>
        </li>
      </ul>
    </section>
    <app-contact class="borderRadiusShadow" [component]="component"></app-contact>
  </aside>
</div>