@import '../../setup.scss';

.mainContainer {
  min-height: calc(100vh - 158px);
  justify-content: space-between;

  @include breakpoint('small') {
    padding-left: 25px;
    padding-right: 25px;
  }
}

main {
  width: calc(70% - 30px);
  max-width: 750px;

  section {
    margin-bottom: 40px;
  
    &.ctaContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
  
      .cta {
        margin-left: 20px;
      }
    }
  }

  @include breakpoint('medium') {
    width: 100%;
    max-width: none;
  }
}

header {
  margin-bottom: 40px;

  p {
    font-size: 1.1rem;
  }

  li {
    font-size: 0.9rem;
  }
}

aside {
  width: calc(30% - 30px);
  margin-bottom: 30px;

  section {
    margin-bottom: 30px;
  }

  app-contact {
    display: block;
    background: #FFFFFF;
  }

  @include breakpoint('medium') {
    width: 100%;
  }
}

h2 {
  font-size: 1.3rem;
}

.moreTools {
  background: rgba(255, 255, 255, .60);
  padding-top: 20px;
  overflow: hidden;

  h2 {
    font-size: 1.2rem;
    padding: 0 30px;
    margin-bottom: 10px;
  }

  li {
    a {
      display: block;
      padding: 15px 30px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;
      font-weight: 100;

      .arrowLeftWrapper {
        width: .7rem;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%) rotate(-90deg);

        .svgArrow {
          stroke: black;
        }
      }

      &.allToolsActive {
        background: $background;

        .arrowLeftWrapper {
          display: none;
        }
      }
    }

    &:last-child {
      a {
        border-bottom: none;
      }
    }
  }
}
