.mainContainer {
  justify-content: space-between;
}

main {
  width: calc(70% - 30px);
  max-width: 750px;

  section {
    margin-bottom: 40px;
  
    &.ctaContainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
  
      .cta {
        margin-left: 20px;
      }
    }
  }
}

header {
  margin-bottom: 30px;
}

aside {
  width: calc(30% - 30px);

  section {
    margin-bottom: 30px;
  }

  app-contact {
    display: block;
    background: #FFFFFF;
  }
}

h2 {
  font-size: 1.3rem;
}

.moreTools {
  padding: 20px 30px;
  background: rgba(255, 255, 255, .60);

  h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  li {
    a {
      display: block;
      padding: 15px 0 15px 10px;
      border-bottom: 1px solid #e8e8e8;
      position: relative;
      font-weight: 100;

      .arrowLeftWrapper {
        width: .7rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%) rotate(-90deg);

        .svgArrow {
          stroke: black;
        }
      }

      &.allToolsActive {
        background: #EBF1F7;;

        .arrowLeftWrapper {
          display: none;
        }
      }
    }

    &:last-child {
      a {
        border-bottom: none;

      }
    }
  }
}
