<div *ngIf="show === 'login' || show === 'registreer'" class="headBtns">
  <button (click)="show='login'" [class]="show === 'login' ? 'open' : ''">Login</button>
  <button (click)="show='registreer'" [class]="show === 'registreer' ? 'open' : ''">Sign up</button>
</div>
<div *ngIf="show === 'login'" id="modal-content-wrapper">
  <h1>Login</h1>
  <p>Do you want to use this tool? Please login with your credentials, or sign up.</p>
  <form (ngSubmit)="loginFunc()">
    <section id="modal-body">
      <input [autofocus] [ngModel]="loginUserData.email.value" (ngModelChange)="loginUserData.email.value = $event.toLowerCase()" [ngClass]="{err: loginUserData.email.err}" type="text" name="loginEmail" id="loginEmail" placeholder="Email address">
      <input [(ngModel)]="loginUserData.password.value" type="password" name="loginPassword" id="loginPassword"
        placeholder="Password" [ngClass]="{err: loginUserData.password.err}">
    </section>
    <footer id="modal-footer">
      <button mat-raised-button type="button" class="forgotPassword" (click)="forgotPasswordMail()">Forgot your password</button>
      <button *ngIf="!loader" type="submit" class="cta2">Login</button>
      <span *ngIf="loader" class="loader">loader</span>
    </footer>
  </form>

  <section *ngIf="loginErrorMsg" class="error">
    <p [innerHTML]=loginErrorMsg></p>
    <button *ngIf="sendVerifyMailBtn" class="inlineErrorBtn" (click)="sendVerifyMail()">Send email again</button>
  </section>
</div>

<div *ngIf="show === 'registreer'" id="modal-content-wrapper" class="model-wrapper aanmelden">
  <h1>Sign up</h1>
  <div *ngIf="!reqSend">
    <p>Do you want to use this tool? Sign up, or log in with your credentials.</p>
    <form (ngSubmit)="checkRegisterInput()">
      <section id="modal-body" class="noMarginBtm">
        <input [autofocus] [(ngModel)]="registerUserData.name.value" [ngClass]="{err: registerUserData.name.err}" type="text" name="registreerName" id="registreerName" placeholder="Name">
        <input [ngModel]="registerUserData.email.value" (ngModelChange)="registerUserData.email.value = $event.toLowerCase()" [ngClass]="{err: registerUserData.email.err}" type="text" name="registreerEmail" id="registreerEmail" placeholder="Email address">
        <input [(ngModel)]="registerUserData.company.value" [ngClass]="{err: registerUserData.company.err}" type="text" name="registreerCompany" id="registreerCompany" placeholder="Company">
      </section>
      <section id="modal-body">
        <input [(ngModel)]="registerUserData.password.value" [ngClass]="{err: registerUserData.password.err}" type="password" name="password" placeholder="Password">
        <input [(ngModel)]="registerUserData.repeatePassword.value" [ngClass]="{err: registerUserData.repeatePassword.err}" type="password" name="repeatePassword" placeholder="Repeat password">
      </section>

      <section id="modal-footer" class="noMarginBtm">
        <button *ngIf="!loader" class="cta2" type="submit">Sign up</button>
        <span *ngIf="loader" class="loader">loader</span>
      </section>
    </form>

    <section *ngIf="registreerErrorMsg" class="error">
      <p [innerHTML]=registreerErrorMsg></p>
    </section>
  </div>
  <div *ngIf="reqSend">
    <p>Thank you for signing up. Your request is being processed. Your login details will be sent to your email address. (note: the mail might end up in your spam box).</p>
  </div>
</div>

<div *ngIf="show === 'changePassword'" id="modal-content-wrapper" class="model-wrapper aanmelden">
  <h1>Change your password</h1>
  <p>To change your password please enter a new password below.</p>
  <form (ngSubmit)="changePassword()">
    <section id="modal-body">
      <input [(ngModel)]="changePasswordData.password.value" [ngClass]="{err: changePasswordData.password.err}" type="password" name="password" placeholder="Password">
      <input [(ngModel)]="changePasswordData.repeatePassword.value" [ngClass]="{err: changePasswordData.repeatePassword.err}" type="password" name="repeatePassword" placeholder="Repeat password">
    </section>
    <section id="modal-body" class="noMarginBtm">
      <button *ngIf="!loader" class="cta2" type="submit">Opslaan</button>
      <span *ngIf="loader" class="loader">loader</span>
    </section>
  </form>
  <section *ngIf="changePasswordErrorMsg" class="error">
    <p [innerHTML]=changePasswordErrorMsg></p>
  </section>
</div>

<div *ngIf="show === 'passwordChanged'" id="modal-content-wrapper" class="model-wrapper aanmelden">
  <h1>Your password has changed</h1>
  <p>Uw wachtwoord is aangepast en u bent ingelogd.</p>
</div>

<div *ngIf="show === 'userVerified'" id="modal-content-wrapper" class="model-wrapper aanmelden">
  <h1>Your account has been verified.</h1>
  <p>You have been logged in automatically.</p>
</div>