$groen: #6AB84A;
$negColor: #fd8163;

h1 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 500;
}

p {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.headBtns {
  position: absolute;
  top: 8px;
  left: 0;

  transform: translateY(-100%);

  button {
    padding: 10px 30px 10px;
    border-radius: 15px 15px 0 0;
    margin-right: 5px;
    background: rgb(199, 198, 202);
    background: linear-gradient(0deg, #c7c6ca 0%, #ffffff 40%);
    font-weight: 500;

    cursor: pointer;

    &.open {
      background: #ffffff;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

form {
  margin-top: 30px;
}

#modal-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  input {
    width: calc(50% - 15px);
    padding: 15px;
    border-radius: 50px;
    border: solid 2px #F1F1F1;
    outline: 0;

    font-size: .9rem;

    &:first-of-type {
      margin-right: 15px;
    }

    &:focus {
      border-color: $groen;
    }

    &.err {
      border-color: $negColor;
    }
  }
}

#modal-footer {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.cta2 {
  align-self: flex-end;
}

.forgotPassword {
  color: #000000;
  font-size: .9rem;
  text-decoration: underline;
  padding: 0;
}

.error {
  display: inline-block;
  background: red;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;

  p {
    color: white;
    font-weight: 500;
  }
}
