<div class="mainContainer container">

  <aside class="inputAside asideWcircle borderRadiusShadow">
  <div class="asideSection">
    <h1>Bayesian A/B-test Calculator</h1>
    <p>What is the probability that your test variation beats the original? Make a solid risk assessment whether to
      implement the variation or not.
      Need Help? Read more about a Bayesian test approach.</p>
  </div>

  <form action="">
    <div class="asideSection">
      <h2>Test data</h2>
      <div class="columnContainer">
        <div class="column">
          <div class="inputContainer">
            <label for="visitorsA">Users A</label>
            <input [(ngModel)]="dataValues.ua" (change)="go()" name="visitorsA" id="visitorsA" type="number">
          </div>
          <div class="inputContainer">
            <label for="conversionsA">Conversions A</label>
            <input [(ngModel)]="dataValues.ca" (change)="go()" name="conversionsA" id="conversionsA" type="number">
          </div>
        </div>
        <div class="column">
          <div class="inputContainer">
            <label for="visitorsB">Users B</label>
            <input [(ngModel)]="dataValues.ub" (change)="go()" name="visitorsB" id="visitorsB" type="number">
          </div>
          <div class="inputContainer">
            <label for="conversionsB">Conversions B</label>
            <input [(ngModel)]="dataValues.cb" (change)="go()" name="conversionsB" id="conversionsB" type="number">
          </div>
        </div>
      </div>
    </div>

    <div class="asideSection">
      <h2>Business case data (optional)</h2>
      <div class="inputContainer">
        <label for="testDuration">Test duration in days</label>
        <input (change)="go()" [(ngModel)]="business.duration.value" name="businessDuration" id="testDuration" type="number" class="{{business.duration.err}}">
      </div>
      <div class="inputContainer percentage">
        <label for="testTraffic">Traffic in test</label>
        <input (change)="go()" [(ngModel)]="business.percInTest.value" name="businessPercInTest" id="testTraffic" class="percentage {{business.percInTest.err}}" type="number">
      </div>
      <div class="inputContainer euro">
        <label for="averageValue">Average order value</label>
        <input (change)="go()" [(ngModel)]="business.aov.value" name="businessAov" id="averageValue" type="number" class="{{business.aov.err}}">
      </div>      
    </div>
  </form>
  <input class="cta" type="button" value="add business case" (click)="getBusiness()">
</aside>

<main *ngIf="error">
  <div *ngIf="result" class="smallContainer  borderRadiusShadow msg negative">
    <h2>Input value error!</h2>
    <p>To make an accurate calculation the users must be greater or equal to the conversions.</p>
  </div>
</main>

<main *ngIf="!error" class={{hideHtml}}>
  <div class="smallContainer borderRadiusShadow">
    <h2>Main test result</h2>
    <strong>Chance of B outperforming A</strong>
    <div>
      <div id="chart" [style.height.px]=tableHeight>
        <div></div>
      </div>
      <table *ngIf="result && !smallTable" class="tg" #table>
        <tr>
          <th class="tg-0lax">#</th>
          <th class="tg-0lax">Users</th>
          <th class="tg-0lax">Conversion</th>
          <th class="tg-0lax">CR</th>
          <th class="tg-0lax">Uplift</th>
          <th class="tg-0lax">Chance of being best</th>
        </tr>
        <tr>
          <th class="tg-0lax">A</th>
          <th class="tg-0lax">{{tableValues.ua}}</th>
          <th class="tg-0lax">{{tableValues.ca}}</th>
          <th class="tg-0lax">{{tableValues.cra | percent:'0.2'}}</th>
          <th class="tg-0lax"></th>
          <th class="tg-0lax">{{result[0]["Bayesian Score"] | percent:'0.2'}}</th>
        </tr>
        <tr>
          <th class="tg-0lax">B</th>
          <th class="tg-0lax">{{tableValues.ub}}</th>
          <th class="tg-0lax">{{tableValues.cb}}</th>
          <th class="tg-0lax">{{tableValues.crb | percent:'0.2'}}</th>
          <th class="tg-0lax">{{tableValues.uplift | percent:'0.2'}}</th>
          <th class="tg-0lax">{{result[1]["Bayesian Score"] | percent:'0.2'}}</th>
        </tr>
      </table>

      <table *ngIf="tableValues && smallTable" class="tg smallTable">
        <tr>
          <th class="tg-0lax">#</th>
          <th class="tg-0lax">A</th>
          <th class="tg-0lax">B</th>
        </tr>
        <tr>
          <th class="tg-0lax">Users</th>
          <th class="tg-0lax">{{tableValues.ua}}</th>
          <th class="tg-0lax">{{tableValues.ub}}</th>
        </tr>
        <tr>
          <th class="tg-0lax">Conversion</th>
          <th class="tg-0lax">{{tableValues.ca}}</th>
          <th class="tg-0lax">{{tableValues.cb}}</th>
        </tr>
        <tr>
          <th class="tg-0lax">CR</th>
          <th class="tg-0lax">{{tableValues.cra | percent:'0.2'}}</th>
          <th class="tg-0lax">{{tableValues.crb | percent:'0.2'}}</th>
        </tr>
        <tr>
          <th class="tg-0lax">Uplift</th>
          <th class="tg-0lax"></th>
          <th class="tg-0lax">{{tableValues.uplift | percent:'0.2'}}</th>
        </tr>
        <tr>
          <th class="tg-0lax">Chance of being best</th>
          <th class="tg-0lax">{{result[0]["Bayesian Score"] | percent:'0.2'}}</th>
          <th class="tg-0lax">{{result[1]["Bayesian Score"] | percent:'0.2'}}</th>
        </tr>
      </table>
    </div>
  </div>

 <div *ngIf="businessCorrect" class="smallContainer borderRadiusShadow">
    <h2>Risk assessment of implementing B</h2>
    <div class="resultContainer">
      <div class="resultHead {{result[1]['totalEffect'] >= 0 ? 'green' : 'red'}}">
        <p>Total contribution</p>
        <p>€ {{result[1]["totalEffect"]}}</p>
      </div>
      <table class="tg resultTable" #table>
        <tr>
          <th class="tg-0lax">Implement B</th>
          <th class="tg-0lax">Probability</th>
          <th class="tg-0lax">Effect on revenue</th>
        </tr>
        <tr>
          <th class="tg-0lax">Expected risk</th>
          <th class="tg-0lax">{{result[0]["Bayesian Score"] | percent:'0.2'}}</th>
          <th class="tg-0lax">€ {{result[0]["Revenue"]}}</th>
       </tr>
        <tr>
          <th class="tg-0lax">Expected uplift</th>
          <th class="tg-0lax">{{result[1]["Bayesian Score"] | percent:'0.2'}}</th>
          <th class="tg-0lax">€ {{result[1]["Revenue"]}}</th>
        </tr>
      </table>
    </div>
  </div>
</main>
</div>