@import '../../setup.scss';

main {
  width: 75%;
  transition: ease-in-out .3s all;

  @include breakpoint('medium') {
    width: 100%;
  }
}

th {
  font-weight: 400;
}

.msg {
  margin-top: 50px;
  border-left: 4px solid #CCC;

  h2 {
    color: #555;
    margin-bottom: 10px;
  }

  strong {
    font-size: inherit;
  }

  &.positive {
    border-left-color: #72B954;

    h2 {
      color: $groen;
    }
  }

  &.wrn {
    border-left-color: $oranje;
    margin-top: 0;

    h2 {
      color: $oranje;
    }
  }

  &.negative {
    border-left-color: $red;

    h2 {
      color: $red;
    }
  }

  &.neutral {
    border-left-color: $blue;

    h2 {
      color: $blue;
    }
  }

  &:first-of-type {
    margin-top: 0;
  }

  @include breakpoint('medium') {
    margin-top: 20px;
  }
}


// <Input elements 
.inputContainer {
  display: flex;
  flex-flow: column nowrap;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #e8e8e8;
  margin-bottom: 20px;
  font-size: 1rem;
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: $groen;
}


form {
  .asideSection {

    &:last-of-type {
      border-bottom: none;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;
      justify-content: space-between;
      padding-bottom: 0;

      .inputContainer {
        width: 100%;

        &:first-of-type,
        &:nth-of-type(2) {
          width: 45%;
        }
      }
    }
  }

  .columnContainer {
    display: flex;
    flex-flow: column wrap;
  }

  .column {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .inputContainer {
      width: 45%;
    }
  }

  .radioContainer {
    width: 50%;
  }
}

#chart {
  width: 90%;
  max-width: 300px;
  margin-bottom: 20px;
  margin: 0 auto;

  >div {
    height: calc(100% - 20px);
  }
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-bottom: solid 1px #DCDCDC;
    vertical-align: bottom;

    &:first-of-type {
      th {
        font-weight: 600;
        padding-top: 0;

        &:last-of-type {
          max-width: 100px;
        }
      }
    }

    &:nth-of-type(2) {
      th:first-of-type {
        color: #D05662;
      }
    }

    &:last-of-type {
      border-bottom: none;

      th:first-of-type {
        color: #0A5504;
      }
    }

    th {
      padding: 20px 15px;

      &:first-of-type {
        font-weight: 600;
        padding-left: 0px;
        padding-left: 15px;
      }
    }
  }

  &.smallTable {
    tr {
      th {
        min-width: 80px;
        padding: 15px 25px;
        border-right: solid 1px #DCDCDC;
        vertical-align: middle;

        &:first-of-type {
          padding-left: 0px;
          max-width: 100px;
          font-weight: 600;
          text-align: right;
        }

        &:last-of-type {
          border-right: none;
        }
      }

      &:first-of-type {
        th {
          &:nth-of-type(2) {
            color: #D05662;
          }

          &:nth-of-type(3) {
            color: #0A5504;
          }
        }
      }

      &:nth-of-type(2) {
        th:first-of-type {
          color: #000000;
        }
      }

      &:last-of-type {
        th:first-of-type {
          color: #000000;
        }
      }
    }
  }

  @include breakpoint('large') {
    width: 100%;

  }
}

.resultContainer {
  display: flex;
  flex-direction: row-reverse;

  @include breakpoint('large') {
    flex-direction: column;
  }
}

.resultHead {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  p {
    color: white;
    font-size: 16px;

    &:last-of-type {
      font-size: 25px;
    }
  }
}

.green {
  background: #0A5504;
}

.red {
  background: #D05662;
}

.cta {
  float: right;
  margin-right: 30px;
  margin-bottom: 20px;
}
