// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';

// VARS
$breakpoints: (
  'large': 1210px,
  'medium': 920px,
  'small': 620px,
  'xs': 1165px,
);
$primaryFont: 'Poppins', sans-serif;
$background: #EFF4F8;
$primaryColor: #0A5504;
$secondaryColor: #F7F7F7;
$cta: #F8B81F;

$wrnColor: #F5AC19;
$negColor: #fd8163;
$neutColor: #3577BE;

$tooltipColor: #565656;

$shadow: 4px 4px 10px 0 rgba(204,204,204,0.5);

// MIXINS
$groen: #6AB84A;
$oranje: #EFA21D;

@mixin breakpoint($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}