@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// VARS
$breakpoints: (
  'large': 1210px,
  'medium': 920px,
  'small': 620px,
  'xs': 1165px,
);

$primaryFont: 'Poppins', sans-serif;

$groen: #6AB84A;
$blue: #3577BE;
$oranje: #EFA21D;
$red: #fd8163;

$background: #EFF4F8;
$tooltipColor: #565656;

$shadow: 4px 4px 10px 0 rgba(204,204,204,0.5);

// MIXINS
@mixin breakpoint($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}