<div id="modal-content-wrapper">
  <div *ngIf="!reqSend">
    <h1>Tools toevoegen</h1>
    <form>
      <div *ngFor="let na of noAuth; index as i; odd as odd;" class="checkbox-container check">
        <label [for]="na.url">{{na.name}}</label>
        <input [(ngModel)]="toolReq[na.url]" type="checkbox" [name]="na.url" [id]="na.url" [value]="na.url">
      </div>
  
      <input class="cta2" type="button" value="Aanvragen" (click)="sendReq()">
    </form>
  </div>
  <p *ngIf="reqSend">Aanvraag is verstuurd!</p>
</div>
