@import '../../setup.scss';

.hideHtml {
  opacity: 0 !important;
}

.opacs {
  opacity: 0;
}

.mainContainer {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 0;

  @include breakpoint('medium') {
    flex-flow: column nowrap;
  }
}

html {
  height: 100%;
  font-size: 12px;
  line-height: 1.7;
}

main {
  width: 75%;
  transition: ease-in-out .3s all;

  @include breakpoint('medium') {
    width: 100%;
  }
}

.container {
  @include breakpoint('medium') {
    padding-right: 0;
    padding-left: 0;
  }
}

::ng-deep .mat-tooltip {
  background-color: $tooltipColor;
  font-size: 12px;
  padding: 10px;
  margin-top: 0 !important;
}

h1,
h2,
h3 {
  color: $primaryColor;
  width: 100%;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.3rem;
}

strong {
  display: inline-block;
  font-size: 14px;
}

p {
  font-size: 14px;
}

th {
  font-weight: 400;
}

.rowWrap {
  display: flex;
  flex-flow: row wrap;
}

.cta {
  margin: 20px 0;
  margin-left: auto;
  border: none;
  background: $cta;
  padding: 10px 30px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;

  transition: all .3s ease-in-out;
  cursor: pointer;
}

.secondarBtn {
  margin: 0;
  margin-left: auto;
  border: none;
  background: $wrnColor;
  padding: 10px 15px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;

  cursor: pointer;
}

aside {
  width: 30%;
  max-width: 350px;
  height: inherit;
  background: #ffffff;
  position: relative;
  box-shadow: 4px 4px 10px 0 rgba(204, 204, 204, .5);
  align-self: flex-start;

  .asideSection {
    padding: 20px;
    border-bottom: 3px solid #EEEEEE;
    position: relative;
    z-index: 3;

    h1+strong {
      margin-bottom: 10px;
    }

    h2 {
      margin: 15px 0;
    }
  }

  &:after {
    content: '';
    display: block;
    width: 350px;
    height: 350px;
    background: #F4F7F4;
    border-radius: 50%;

    position: absolute;
    bottom: 15vh;
    left: -50%;
  }

  @include breakpoint('medium') {
    width: 85%;
    max-width: 900px;
    padding: 0px;
    margin: 30px auto;
    box-shadow: 4px 4px 10px 0px rgba(204, 204, 204, 0.5);

    @include breakpoint('small') {
      width: 100%;
      margin: 0 auto 30px;
    }
  }
}

.smallContainer {
  width: 85%;
  max-width: 900px;
  padding: 20px 30px;
  margin: 30px 0 30px auto;
  background: #FFF;
  box-shadow: 4px 4px 10px 0px rgba(204, 204, 204, 0.5);
  transition: ease-in-out .3s all;

  &:first-of-type {
    margin-top: 0;

    @include breakpoint('medium') {
      margin-top: 20px;
    }
  }

  strong {
    font-size: inherit;
  }

  @include breakpoint('medium') {
    margin: 30px auto;
  }

  @include breakpoint('small') {
    width: 100%;
  }
}

.msg {
  margin-top: 50px;
  border-left: 4px solid #CCC;

  h2 {
    color: #555;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }

  strong {
    font-size: inherit;
  }

  &.positive {
    border-left-color: #72B954;

    h2 {
      color: $primaryColor;
    }
  }

  &.wrn {
    border-left-color: $wrnColor;
    margin-top: 0;

    h2 {
      color: $wrnColor;
    }
  }

  &.negative {
    border-left-color: $negColor;

    h2 {
      color: $negColor;
    }
  }

  &.neutral {
    border-left-color: $neutColor;

    h2 {
      color: $neutColor;
    }
  }
}

.urlList {
  padding-left: 30px;

  ul {
    li {
      padding-bottom: 10px;
      font-weight: 500;
      width: fit-content;
      list-style: square;
      margin-left: 15px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

[matTooltip]:after {
  content: "?";
  color: #0A5504;
  font-size: 10px;
  font-weight: 900;
  margin-left: 5px;
  display: inline-block;
  transform: translateY(-5px);
}

// <Input elements 
.inputContainer {
  display: flex;
  flex-flow: column nowrap;
}

label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #e8e8e8;
  margin-bottom: 20px;
  font-size: 1rem;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: $primaryColor;
}

.err,
.err:focus {
  border-color: $negColor !important;
}

.euro {
  position: relative;

  &:before {
    content: "€";
    color: $primaryColor;
    font-size: 14px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 42px;
    position: absolute;
    bottom: 20px;
    left: 5px;

    border-radius: 3px;
  }

  input {
    padding-left: 30px;
  }
}

.percentage {
  position: relative;

  &:after {
    content: "%";
    color: $primaryColor;
    font-size: 14px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 42px;
    position: absolute;
    right: 5px;
    bottom: 20px;

    border-radius: 3px;
  }

  input {
    padding-right: 30px;
  }
}

.radio {
  position: relative;
  display: flex;
  margin-top: 10px;
  align-items: center;

  input {
    display: inline-block;
    margin: 0 15px 0 0;
    padding-left: 10px;
    position: relative;
    border: none;

    &:checked {
      &:after {
        background: $primaryColor;
      }
    }

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      border: 2px solid #e8e8e8;
      border-radius: 50%;
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      border-radius: 50%;
    }
  }
}

// Input elements>


main {

  // min-height: 1200px;
  .smallContainer {
    #smallChart {
      width: 50%;
      float: right;

      padding-bottom: 10px;
      margin-top: 40px;
      margin-left: 10px;
      margin-bottom: 10px;
      border-left: 1px dashed #CCC;
    }

    #largeChart {
      height: 400px;
    }
  }

  #chartInfo {
    width: 90%;
    padding-top: 15px;
    margin: 20px auto 0;
    border-top: 1px solid #ccc;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    >* {
      width: calc(33.33% - 20px);
      display: flex;
      margin-bottom: 20px;

      div {
        display: flex;
        flex-flow: column;
        width: 100%;
      }

      .title {
        font-size: 14px;
        ;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .value {
        font-size: .9rem;
        width: 100%;
        padding: 8px 10px;
        background: #f3f3f3;
        border: 1px solid #CCC;
        border-radius: 5px;
      }

      @include breakpoint('small') {
        width: calc(50% - 50px);
      }
    }

    &.positive {
      .uplift {
        background: #E8F7E8;
        border-color: #87b787;
      }
    }

    &.negative {
      .uplift {
        background: #FED9D0;
        border-color: #fd8163;
      }
    }
  }
}


form {
  .asideSection {
    &.rowWrap {
      flex-flow: column nowrap;

      >div {
        display: flex;
        margin-bottom: 15px;
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    @include breakpoint('medium') {
      padding: 30px;
    }

  }

  .columnContainer {
    display: flex;
    flex-flow: row wrap;
  }

  .column {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .inputContainer {
      width: 45%;
    }
  }

  .radioContainer {
    width: 50%;

    .radio>label {
      font-weight: 400;
      margin-bottom: 0;
    }
  }

  @include breakpoint('medium') {
    display: flex;

    >.asideSection {
      width: 50%;
      border: none;
    }

    @include breakpoint('small') {
      display: block;

      >.asideSection {
        width: 100%;
        border-bottom: 3px solid #EEEEEE;
      }
    }
  }
}
