@import '../../setup.scss';

.contact {
  padding: 30px;
  margin-right: 30px;

  .contactBody {
    display: flex;

    img {
      width: 120px;
      object-fit: contain;
      margin-right: 30px;
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
    margin-bottom: 10px;
  }

  a {
    display: block;
    margin-bottom: 10px;
  }

  @include breakpoint('medium') {
    width: 100%
  }
}

.cta2 {
  height: initial;
}

.info {
  margin-right: 0;

  h2 {
    font-weight: 500;
  }

  .contactBody {
    img {
      width: 60px;
      margin-bottom: auto;
    }

    a {
      font-size: 0.75rem;
    }
  }
}
